* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #161d6f;
  --color-2: #5fcec6;
  --color-3: #c7ffd8;
  --color-4: #f6f6f6;
  --color-6: #97ebe5;
}

html {
  font-size: 62.5%;
  font-family: "Press Start 2P", system-ui;
  color: var(--color-4);
}

.game-body {
  background-color: var(--color-2);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* start of header section styling */
.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-inline: 2rem;
}

.details {
  font-size: 1rem;
}

.game-info {
    padding: 1rem;
    font-size: 1.3rem;
}

.game-info p span{
    color: var(--color-1);
}
/* end of header section styling */

/* start of gameplay (player & computer) styling */
.gameplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0rem;
  font-size: 2rem;
}

.computer-gameplay{
    margin-top: 2.45rem;
}

.gameplay p {
  margin-top: 0.8rem;
}

.gameplay-wrapper {
  font-size: 10rem;
  padding: 0rem 1rem;
  background-color: var(--color-4);
  border: 2px solid var(--color-1);
  border-radius: 5rem;
  border-top-left-radius: 0;
  margin-top: 1rem;
}

.player-gameplay p {
  margin-top: 0;
}
/* end of gameplay styling */

/* start of gameplay-info-text styling */
.gameplay-info {
  background-color: var(--color-1);
  padding: 1rem 0;
  font-size: 1.6rem;
  text-align: center;
}
/* end of gameplay-info-text styling */

/* start of game-actions styling */
.game-actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 2.7rem;
  font-size: 4rem;
  gap: 1.3rem;
}

.game-actions-wrapper {
  background-color: var(--color-3);
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition-duration: .5s;
}

.game-actions-wrapper:hover{
    scale: 1.2;
    background-color: var(--color-4);
}
/* end of game-actions styling */

/* start of media queries */
@media screen and (max-width: 59.375em) {
    .game-body{
        width: 100vw;
        height: 100%;
    }
}

@media screen and (max-width: 35.625em) {
    .game-header{
        flex-direction: column;
    }

    .computer-gameplay{
        padding-top: 0;
    }
}
/* end of media queries */
