*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Press Start 2P", system-ui;
    color: #ffffff;
}

:root{
    --color-1: #161D6F;
    --color-2: #98DED9;
    --color-3: #C7FFD8;
    --color-4: #F6F6F6;
}

.game-body{
    background-color: var(--color-2);
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.game-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.4rem;
}